body {
    font-family: 'Sora', sans-serif;
    color: #fff;
    background-color: #000000;
    
}

@mixin monoton-font($size, $color: #b02000) {
    font-family: "Monoton", sans-serif;
    font-style: normal;
    color: $color;
    font-size: $size;
    text-align: center;
  }